html,body{
  background-color: #ffffff;
  /* height: 100vh; */
  position: relative;
  width: 100%;
}




/* .App {
  
  height: 100vh;
  
  color: white;
  text-align: center;

} */


/* Added */
#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(200px,auto); */
  grid-gap: 10px;
  margin: 12% 10% 0% 10%;
  

}



.content-container{
  /* background: red; */
  
  
  /* background: rgb(85, 85, 85); */
  position: relative;
  height: 100%;
 
  
  /* margin: 2%; */
}

.description-container{
  background: black;
  
  top: 0;
  left: 0;
}

.title-container{
  position: absolute;
  /* top: -25px; */
  right: 0;
  font-size: 0.5em;
  display: none;
}

#main{
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#headline{
  background: #d8737f;
  /* background-image: linear-gradient(to bottom right, #E6F3FF,#873dff); */
 
 grid-column: 1/3;
 grid-row: 1/4;
 /* height: 725px; */
 min-height: 500px;
}
#countdown{
grid-column: 3;
grid-row: 1/2;
background: #475c7a;
color: white;
/* background-image: linear-gradient(to bottom right, white,#475c7a); */
height: 100%;
}

#countdown-container{

  font-size: 1.0em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifl;
  /* font-family: 'Ubuntu', sans-serif; */
  display: flex;
  flex-direction: row;
  
}

#countdown > .content-container{
  display: flex;
  justify-content: center;
  
}

#Countdown > div:nth-child(3){
  width: 100%;
  
}



.Countdown-col > .Countdown-col-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 15px 15px;
}

#summary{
  background: #fcbb6d;
  grid-column: 3;
  grid-row: 2/4;
  height: auto;
/* grid-column: 2/4; */
/* height: 500px */
/* background-image: linear-gradient(to bottom right, rgb(241, 241, 241),rgb(199, 199, 199)); */

}



#news-feed{
  background: #E5E5E5;
  /* width: 300px; */
  /* height: 80%; */
  grid-column: 1/2;
  grid-row: 4;
  background-image: linear-gradient(to bottom right, rgb(235, 225, 238),#d2aedd);
}

#news-feed-container{
  /* margin-top: 7%; */
  max-width: 350px;
 
}

#news-feed-container > ul{
  list-style: none;
  padding: 10%;
  padding-top: 5%;
  /* border: 1px solid black; */
  /* margin: 5%; */
  /* min-width: 300px;
  margin: 0 auto; */

}

#news-feed-container > ul > li{
  /* border-radius: 10px; */
  /* background: rgb(233, 233, 233); */
  padding: 20px;
  margin-top: 10px;
  /* border: 1px solid black; */
}

#news-feed-container > ul > li{
  background: white;
  border-top: 2px solid #ccc;
  animation-name: news-pop-down; 
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  
}
#news-feed-container > ul > li:hover{
  
  border-top: 5px solid rgb(219, 88, 255);
  animation-name: news-pop-up; 
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  
}

#news-feed-container > ul > li > a > p{
  /* margin: 10px auto; */
}
/* #news-feed-container > ul > li:nth-child(even){
  background: #d6d6d6;
  
} */

#videos{
  grid-column: 2/4;
  
  grid-row: 4;
  /* max-height: 400px; */
  background: none !important;
  box-shadow: none !important;
  /* overflow: hidden; */
  /* height: 40%; */
  
}

#twitter{
  grid-row: 5;
  grid-column: 3;
  background: #E6F3FF;
  background-image: linear-gradient(to bottom right, E6F3FF,#1da1f2);
  /* height: 500px; */
  /* grid-row: 3/5; */
  
}

#twitter-feed-container{
  /* margin-top: 7%; */
  max-width: 350px;
}

#twitter-feed-container > ul {
  list-style: none;
  padding: 10%;
  padding-top: 5%;
  /* border: 1px solid black; */
  /* margin: 5%; */
}

#twitter-feed-container > ul > li{
  /* border-radius: 10px; */
  /* background: rgb(233, 233, 233); */
  padding: 20px;
  margin-top: 10px;
  /* border: 1px solid; */
}

#twitter-feed-container > ul > li{
  background: white;
  /* border-top: 2px solid #1DA1f2; */
  border-top: 2px solid #ccc;

  margin-bottom: 0%;
  animation-name: twitter-pop-down;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  
}

#twitter-feed-container > ul > li:hover{
  animation-name: twitter-pop-up;
  /* margin-bottom: 10%; */
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  border-top: 5px solid rgb(88, 191, 255);
  
  cursor: pointer;
  
}

#twitter-feed-container > ul > li > p{
  margin: 0 auto;
}
/* #twitter-feed-container > ul > li:nth-child(even){
  background: #d6d6d6;
  
} */


#contact{
  background: #D3F3EE;
  grid-column: 1/3;
  grid-row: 5/6;
}

#empty-donate-right{
  background: beige;
  grid-column:4;
  grid-row: 9;
}

#donate{
  /* background: #6b9cfd; */
  grid-row: 6;
  grid-column: 3;
}

#empty-donate-left{
  background: #fd6bdd;
  grid-row: 10;
  grid-column: 3;
}

#donate2{
  background: rgb(138, 138, 138);
  grid-row: 10;
}

.main-containers{
  background: rgb(255, 173, 173);
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 0px #b7b7b7;
  /* background: white !important; */
}


/* nav bar style */
#nav-container{
  position: fixed;
  top: 0;
  background: white;
  height: 78px;
  width: 100%;
  z-index: 100;
  color: black;
  box-shadow: 1px 1px 5px 0px;
  


  
}
#nav-flex{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin: 0 auto;

}
#logo{
  
  /* float: left; */
  padding: 100px;
  
  
  
}

#robot-container{

  margin: 0 auto;
}

#robot-image{
  width: 50px;
  margin-top: 10px;

}

#pre-loader-container{
  background: white;

  position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  z-index: 2000;
} 
#pre-loader-container video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100vh;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/* Youtube */
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  box-shadow: 2px 3px 3px 0px #b7b7b7;
}



.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* summary */
#summary-container{
  /* background: red; */
  margin: 5%;
  overflow: hidden;
  height: 100%;
  max-height: 500px;
  padding: 5%;
  max-width: 300px;

}

#header{
  text-decoration: underline;
}

#mhuman{
  font-weight: bold;
  font-style: italic;
}

/* contact form */
#contact-container{
  
  /* padding: 72px 55px 90px 55px; */
  padding: 15%;
  width: 100%;
  max-height: 320px;

}

#contact-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.text-field{
  border: none;
  border-bottom: 2px solid #b8b8b8;
  outline: none;
  margin-bottom: 10%;
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
  padding: 5px;
  background: none;
  width: 100%;
  
}

.text-field:focus{
  border-bottom: 2px solid #2cc7b5;
}

#submit-button{
  transition: background-color 0.4s;
  /* background: linear-gradient(-135deg, #64ffed, #2cc7b5); */
  background: #2cc7b5;
  /* background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935); */
  /* background: #38c2b2; */
  color: white;
  width: 50%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 15px;
}

#message-area{
  /* min-height: 100px; */
  height: 20px;
  max-height: 120px;
  resize: vertical;
  margin-bottom: 0;
  min-height: 50px;
  /* width: 100%; */
}

#submit-button:hover{
  /* background-image: linear-gradient(-135deg,  #2cc7b5,#64ffed); */
  background: #53d1c2;
  cursor: pointer;
}

#character-count{
  margin-bottom: 10%;
  font-size: 12px;
  padding: 5px;
}
/* apply display flex */
@media only screen and (max-width: 1000px) {

  .App{
    overflow-x: hidden;
  }
  #grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    /* min-width: 100%; */
    
    
    margin: 0 auto;
    margin-top: 22% !important;
    
  }

  .main-containers{
    margin-top: 5%;
  
    
  }

  .content-container{
    min-width: 320px;
    max-width: 320px;
    /* min-height: 300px; */
  }

  
  
  #headline{
    min-height: 300px;
  }
  #countdown{
    /* min-height: 100px;
    max-height: 100px; */
    
    
    
  }

  #summary{
    min-height: 300px;
    
  }

  #news-feed{
    min-height: 370px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #videos{
    /* min-height: 300px; */
  }
  #twitter{
    min-height: 400px;
  }

  #contact{
    min-height: 400px;
  }

  #empty-donate-left, #empty-donate-right{
    display: none;
    
  }

  #donate, #donate2{
    min-height: 330px;
  }

  #main{
    /* max-width: 500px; */
    
  }
  
}

/* animations */
/* twitter */
@keyframes twitter-pop-up{
  0%{
    /* margin-bottom: 0%; */
    border-top: 1px solid #ccc
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 5px solid rgb(88, 191, 255);
   
  }
}
@keyframes twitter-pop-down{
  0%{
    /* margin-bottom: 0%; */
    
    border-top: 5px solid rgb(88, 191, 255);
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 2px solid #1DA1f2;
   
  }
}

/* news feed */
@keyframes news-pop-up{
  0%{
    /* margin-bottom: 0%; */
    border-top: 1px solid #ccc;
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 5px solid rgb(219, 88, 255);
   
  }
}
@keyframes news-pop-down{
  0%{
    /* margin-bottom: 0%; */
    
    border-top: 5px solid rgb(219, 88, 255);
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 1px solid #ccc;
   
  }
}