@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

html,body{
  background-color: #ffffff;
  /* height: 100vh; */
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  
  /* font-family: 'Titillium Web', sans-serif; */
}
/* Added */
/* #grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding-top: 10%;
  max-width: 80%;
  padding-bottom: 5%;
  
} */

#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 70%;
  padding-top: 8%;
  padding-bottom: 5%;
}

.content-container{
  position: relative;
  height: 100%;
}

.description-container{
  background: black;
  top: 0;
  left: 0;
}

.title-container{
  right: 0;
  font-size: 0.5em;
}

#main{
  height: 100%;
}

#headline{
  background: #d8737f;
  /* background-image: linear-gradient(to bottom right, #E6F3FF,#873dff); */
 box-shadow: none;
 background: none !important;
 grid-column: 1/3;
 grid-row: 1/4;
 /* height: 725px; */
 /* min-height: 500px; */
}
#countdown{
grid-column: 3;
grid-row: 1/2;
color: white;
/* background-image: linear-gradient(to bottom right, white,#475c7a); */
background: #081c25;
border-radius: 0;
font-weight: bold;
}

#countdown-parent-container{
  position: relative;
}

#countdown-image{
  height: 34%;
  position: absolute;
  transform: translate(45%,-70%);
  display: none;
}

#countdown-container{
  font-size: 1.0em;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifl; */
  display: flex;
  flex-direction: row;  
}

#countdown > .content-container{
  display: flex;
  justify-content: center;
}

#Countdown > div:nth-child(3){
  width: 100%;
  
}

.countdown-words{
  font-size: 14px;
  font-family: 'Century Gothic';
  /* font-weight: light; */
  text-align: center;
  text-shadow: 0px 0px 10px;
  font-family: 'Orbitron', sans-serif;
}
.countdown-number{
  /* font-weight: bold; */
  font-size: 25px;
  text-shadow: 0px 0px 10px;
  font-family: 'Orbitron', sans-serif;
}



.Countdown-col > .Countdown-col-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 15px 15px;
}
.Countdown-col{
  text-align: center;
} 

#summary{
  background: #F4F4F4;
  grid-column: 3;
  grid-row: 2/3;
  height: auto;
  margin-top: 10px;
/* grid-column: 2/4; */
/* height: 500px */
/* background-image: linear-gradient(to bottom right, rgb(241, 241, 241),rgb(199, 199, 199)); */
}

#news-feed{
  background: #f9f9f9;
  /* width: 300px; */
  /* height: 80%; */
  grid-column: 1/3;
  grid-row: 1/4;
  
}

#news-feed-content{
  overflow-x: hidden;
  overflow-y: auto;
}

#news-feed-container{
  /* margin-top: 7%; */
  /* max-width: 350px; */
  position: relative;
  width: 100%;
 
}
#news-feed-image{
  position: absolute;
  /* width: 80%; */
  
  transform: translate(-20%, -50%);
  z-index: 100;

}

#news-feed-container > ul{
  list-style: none;
  /* padding: 10%; */
  /* padding-top: 5%; */
  /* border: 1px solid black; */
  /* margin: 5%; */
  /* min-width: 300px;
  margin: 0 auto; */

}

#news-feed-container > ul > li{
  /* border-radius: 10px; */
  /* background: rgb(233, 233, 233); */
  padding: 20px;
  margin-top: 10px;
  /* border: 1px solid black; */
}

#news-feed-container > ul > li{
  background: white;
  border-top: 5px solid #ccc;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  animation-name: news-pop-down; 
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  transition: box-shadow 0.2s ease-in-out
  
}
#news-feed-container > ul > li:hover{
  
  border-top: 5px solid rgb(219, 88, 255);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  animation-name: news-pop-up; 
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  
}

#news-feed-container > ul > li > a > p{
  /* margin: 10px auto; */
}
/* #news-feed-container > ul > li:nth-child(even){
  background: #d6d6d6;
  
} */

#videos{
  grid-column: 2/4;
  
  grid-row: 4;
  /* max-height: 400px; */
  background: none !important;
  box-shadow: none !important;
  /* overflow: hidden; */
  /* height: 40%; */
  
}

#twitter{
  grid-row: 5;
  grid-column: 3;
  /* background: #E6F3FF; */
  background-image: linear-gradient(to bottom right, E6F3FF,#1da1f2);
  /* height: 500px; */
  /* grid-row: 3/5; */
  
  
}

#Twitter{
  border-radius: 5px;
}
#donate-container{
  background: white;
  margin-bottom: 20%;
  border-radius: 10%;
}
.content-container > #Twitter{
  background: #E6F3FF;
}

#twitter-image{
  /* width: 50%; */
  height: 9%;
  position: absolute;
  transform: translate(100%, -50%);
}

#twitter-feed-container{
  /* margin-top: 7%; */
  max-width: 350px;
  position: relative;
}

#twitter-feed-container > ul {
  list-style: none;
  padding: 10%;
  padding-top: 5%;
  /* border: 1px solid black; */
  /* margin: 5%; */
}

.twitterFeed-item{
  background: white;
  padding: 20px;
  margin-top: 10px;
  cursor: default !important;
  border-top: 5px solid #ccc;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-bottom: 0%;
  animation-name: twitter-pop-down;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  transition: box-shadow 0.2s ease-in-out
  
}

#twitter-feed-container > ul > li:hover{
  animation-name: twitter-pop-up;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  border-top: 5px solid rgb(88, 191, 255);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  
  cursor: pointer;
  
}

#twitter-feed-container > ul > li > p{
  margin: 0 auto;
}
/* #twitter-feed-container > ul > li:nth-child(even){
  background: #d6d6d6;
  
} */


#contact{
  background: #D3F3EE;
  grid-column: 1/3;
  grid-row: 5/6;
}

#empty-donate-right{
  background: beige;
  grid-column:4;
  grid-row: 9;
}

#donate{
  /* background: #6b9cfd; */
  grid-row: 3/4;
  grid-column: 3;
  margin-top: 0;
  box-shadow: none;
  height: 100%;
  
}

#paypal-image{
  max-width: 10%;
  margin-right: 5%;
}

#paypal-button{
  color: white;
  width: 50%;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 15px;
  cursor: pointer;  
  background-image: linear-gradient(to right, #2890c3, #27356a);
  transition: 1s;
  font-weight: bold;
}


.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}



#donate-button-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#donate-button{
  transition: background-color 0.4s;
  /* background: linear-gradient(-135deg, #64ffed, #2cc7b5); */
  background: #3b7bbf;
  /* background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935); */
  /* background: #38c2b2; */
  color: white;
  width: 80%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 15px;
  min-height: 60px;
  margin-right: 0;
  font-weight: bold;

}

#donate-button:hover{
  /* background-image: linear-gradient(-135deg,  #2cc7b5,#64ffed); */
  background: #6c93bd;
  cursor: pointer;
}


.main-containers{
  /* background: rgb(255, 173, 173); */
  margin: 10px;
  border-radius: 5px;
  /* box-shadow: 2px 3px 3px 0px #b7b7b7; */
  position: relative;
  margin-top: 40px;
  /* background: white !important; */
}

/* nav bar style */
#nav-container{
  position: fixed;
  top: 0;
  background: white;
  height: 90px;
  width: 100%;
  z-index: 200;
  color: black;
  box-shadow: 1px 1px 5px 0px;
}

#nav-flex{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  height: 100%;
}

#logo{
  /* float: left; */
  padding: 100px;
}

#robot-container{
  margin: 0 auto;
}

#robot-image{
  width: 50px;
  margin-top: 10px;

}

#pre-loader-container{
  background: rgb(255, 255, 255);

  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2000;

  /* max-width: 100%;
  max-height: 100%;
  background-color: #1E1C26;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; */
} 
#pre-loader-container video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100vh;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/* Youtube */
.iframe-container {
  position: relative;
  /* width: 100%; */
  padding-bottom: 56.25%;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 3px 3px 0px #b7b7b7;
}

/* summary */
#summary-container{
  /* background: red; */
  margin: 5%;
  /* overflow: hidden; */
  height: 100%;
  max-height: 500px;
  padding: 5%;
  max-width: 300px;
  position: relative;

}
#question-image{
  position: absolute;
  height: 20%;
  transform: translate(370%, -30%);
}

#header{
  text-decoration: underline;
  font-style: italic;
}

#mhuman{
  font-weight: bold;
  font-style: italic;
}

/* contact form */
#contact-container{
  
  /* padding: 72px 55px 90px 55px; */
  padding: 15%;
  width: 100%;
  max-height: 320px;
  position: relative;
}

#contact-image{
  position: absolute;
  transform: translate(-20%, -50%);
  height: 9%;
}

#contact-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.text-field{
  border: none;
  border-bottom: 2px solid #b8b8b8;
  outline: none;
  margin-bottom: 10%;
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
  padding: 5px;
  background: none;
  width: 100%;


}
.text-field:focus{
  border-bottom: 2px solid #2cc7b5;
}



input:-webkit-autofill {
  box-shadow: 0 0 0 50px #b8ebe3 inset;
  -webkit-box-shadow:0 0 0 50px #b8ebe3 inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px #b8ebe3 inset;
  -webkit-box-shadow: 0 0 0 50px #b8ebe3 inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
} 



#submit-button{
  transition: background-color 0.4s;
  /* background: linear-gradient(-135deg, #64ffed, #2cc7b5); */
  background: #2cc7b5;
  /* background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935); */
  /* background: #38c2b2; */
  color: white;
  width: 50%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 15px;
}

#message-area{
  /* min-height: 100px; */
  height: 20px;
  max-height: 120px;
  resize: none;
  margin-bottom: 0;
  min-height: 50px;
  /* width: 100%; */
}

#submit-button:hover{
  /* background-image: linear-gradient(-135deg,  #2cc7b5,#64ffed); */
  background: #53d1c2;
  cursor: pointer;
}

#character-count{
  margin-bottom: 10%;
  font-size: 12px;
  padding: 5px;
}

#headline-image{
  max-width: 100%;
  max-height: 100%;
}

#logo-words-image{
  /* max-width: 100%;
  max-height: 100%; */
  height: 80%;
  width: 100%;
  
}

#logo-words-container{
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#logo-words-image-mini{
  
  height: 80%;
  width: 100%;
}

#headline-words{
  max-width: 100%;
  position: absolute;
  height: 60%;
  z-index: 100;
  transform: translate(-10%, -20%);
}

#headline-container{
  position: relative;
}

.svg-headers{
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 10%;
}

#news-list{
  /* background: linear-gradient(#e5e5e5 30%, transparent),radial-gradient(at 50% 0, rgba(0,0,0,.2), transparent 70%);
  background-repeat: no-repeat;
  background-size: 100% 50px, 100% 15px;
  background-attachment: local,scroll; */
}

#error-message{
  color: red;
}

#modal{
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation-name: modalPopIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.modal-content{
  width: 100%;
  max-width: 400px;
  height: 300px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 20px 50px 5px #272727;
  border-radius: 10px;
  color: #01a9f3;
  text-align: center;
  opacity: 1;    
  animation-name: modalContentPopIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transform: translateY(0px);
}

.modal-paragraph button{
  margin-top: 5%;
}


#paypal-form{
  display: none;
}


/* apply display flex */
@media only screen and (max-width: 800px) {

  .App{
    overflow-x: hidden;
  }
  #grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    /* min-width: 100%; */
    padding-top: 25%;
    
    
    margin: 0 auto;
    /* margin-top: 22% !important; */
    
  }

  .main-containers{
    margin-top: 5%;
    /* max-width: 310px; */
  }

  .content-container{
    min-width: 320px;
    max-width: 320px;
    /* min-height: 300px; */
  }

  
  
  #headline{
    /* min-height: 300px; */
  }
  #countdown{
    /* min-height: 100px;
    max-height: 100px; */
    
  }

  

  #summary{
    min-height: 300px;
    
  }

  #news-feed{
    min-height: 370px;
    
    /* overflow-x: hidden;
    overflow-y: auto; */
  }
  #news-feed-image{
    height: 9%;
    transform: translate(-7%, -50%);
  }
 
  #twitter{
    min-height: 400px;
  }

  #contact{
    min-height: 400px;
  }

  #empty-donate-left, #empty-donate-right{
    display: none;
    
  }

  #donate-button{
    min-height: 60px;
  }

  .iframe-container iframe{
    position: relative;
  }
  #videos{
    padding: 0;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  #question-image{
    transform: translate(330%, -30%);
    height: 17%;
  }

  #countdown-image{
    transform: translate(35%,-70%);
  
  }

  #twitter-image{
    height: 9%;
    transform: translate(-10%, -50%);
  }
  #contact-image{
    transform: translate(-15%, -50%);
  }
  
}


.whole-logo-hide{
  
  /* transition: 0.35s; */

  -webkit-animation: whole-logo-hide 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: whole-logo-hide 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
  /* display: none; */
  /* transform: translateX(100%); */
  opacity: 0;
}
.whole-logo-reveal{
  -webkit-animation: whole-logo-reveal 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: whole-logo-reveal 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
  /* display: none; */
}

.solo-logo-reveal{
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  /* transform: translateX(-160%); */
  
  
  -webkit-animation: solo-logo-reveal 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: solo-logo-reveal 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
}

.solo-logo-hide{
  opacity: 0;
  -webkit-animation: solo-logo-hide 2.5s linear; /* Safari 4.0 - 8.0 */
  animation: solo-logo-hide 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
}

#logos-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#whole-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#solo-logo-container{
  display: none;
  /* opacity: 0; */
  position: absolute;
  height: 100%;
/*   
  height: 100%;
  width: 100%;
  margin: 0 auto; */

}


#solo-logo {
  width: 70px;
  padding-top: 15%;
  /* opacity: 0; */
  /* display: none; */
  
}


/* animations */
/* twitter */
@keyframes twitter-pop-up{
  0%{
    /* margin-bottom: 0%; */
    border-top: 5px solid #ccc
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 5px solid rgb(88, 191, 255);
   
  }
}
@keyframes twitter-pop-down{
  0%{
    /* margin-bottom: 0%; */
    
    border-top: 5px solid rgb(88, 191, 255);
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 5px solid #ccc;
   
  }
}

/* news feed */
@keyframes news-pop-up{
  0%{
    /* margin-bottom: 0%; */
    border-top: 5px solid #ccc;
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 5px solid #db58ff;
    
   
  }
}
@keyframes news-pop-down{
  0%{
    /* margin-bottom: 0%; */
    
    border-top: 5px solid rgb(219, 88, 255);
    
  }
  100%{
    /* margin-bottom: 10%; */
    border-top: 5px solid #ccc;
   
  }
}

@media screen and (max-width: 500px){
  #form-container{
      max-width: 300px;
  }
}



/* animations */

/* modal animations */
/* Chrome */
@keyframes modalPopIn {
  from {background: rgba(0,0,0,0.0);}
  to {background: rgba(0,0,0,0.7);}
}
@keyframes modalContentPopIn {
  0% {
     transform: translateY(-400px);
  }
  70%{
      opacity: 1;
      transform: translateY(50px);
  }
  100% {        
      transform: translateY(0px);
  }
}

/* required text */
@keyframes fadeInRequired{
  from{color: rgba(255,0,0,0);}
  to{color: rgba(255,0,0,1);}
}

/* IE Edge */
@-webkit-keyframes modalPopIn {
  from {background: rgba(0,0,0,0.0);}
  to {background: rgba(0,0,0,0.7);}
}
@-webkit-keyframes modalContentPopIn {
  0% {
     /* opacity: 0;  */
     transform: translateY(-400px);
  }
  70%{
      opacity: 1;
      transform: translateY(50px);
  }

  100% {        
      transform: translateY(0px);
  }
}

@-webkit-keyframes fadeInRequired{
  from{color: rgba(255,0,0,0);}
  to{color: rgba(255,0,0,1);}
}

@keyframes whole-logo-hide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50%{
    /* opacity: 0.8; */
  }
  100% {
    transform: translateX(10%);
    opacity: 0;

   
  }
}


/* logo animations */
@keyframes whole-logo-hide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50%{
    /* opacity: 0.8; */
  }
  100% {
    transform: translateX(10%);
    opacity: 0;

   
  }
}

@keyframes whole-logo-reveal {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  50%{
    /* opacity: 0.8; */
  }
  100% {
    transform: translateX(0%);
    opacity: 1;

   
  }
}

@keyframes solo-logo-reveal {
  0% {
    
    transform: translateX(100%);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
   
  }
}

@keyframes solo-logo-hide {
  0% {
    
    transform: translateX(0);
    opacity: 1;
  }
  
  100% {
    transform: translateX(100%);
    opacity: 0;
   
  }
}